*{
    margin: 0;
    padding: 0;
    font-family: sans-serif,'Courier New', Courier, monospace;
    /* border: 1px solid; */
}
li{
    list-style: none;
    border: 1px solid;
    padding: 20px 10px;
    background-image: url(./images/map_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-position: 50% 50%;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid black;
    filter: drop-shadow(8px 8px 10px  green);

}
body{

}
.container{
    background-image: url("./images/globe-2.jpg");
    background-repeat: no-repeat;
    background-size:100% 60vh;
    object-fit: contain;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: invert(10%);
}
.main{
    width: 100%;
}
h1{
    width: 100%;
    text-align: center;
    letter-spacing: 0.3em;
}
.btn{
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    padding: 8px 5px;
    font-weight: 100;
    font-weight: bold;
}
.btn:nth-child(3){ 
     padding: 7px 14px ;
}
.btn:hover{
    background-color: rgb(42, 165, 118);
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    }
    .header h1{
    margin-bottom: 20px;

}
.header p{
    font-weight: bold;
}

.form-wrapper{
margin-top: 40px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.form-wrapper .search{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    }
    #search{
        padding: 10px;
        
    }
    .form-wrapper .search input{
        width: 100%;
        margin-right: 10px;
        border-radius: 10px;
        padding: 3px 0;
        border: none;
        padding: 10px 10px;
}
.country-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 40vh;
    background-color: antiquewhite;
}