*{
    text-align: center;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url("./images/galaxy.gif");
    height: 100vh;
    margin: 0;
}
h3{
    color: #fff;
    font-size: 36px;;
   
}
form{
    display: flex;
    flex-direction: column;
    flex: 20px;
}
form > input{
   flex: 25px;   
   border: 1px solid rebeccapurple;
   border-radius: 5px;
   margin: 5px;
   padding: 25px;
   box-sizing: border-box;
}
#planetName{
    flex: 25px;
    margin: 5px;
    padding: 25px;
    background-color: rgb(194, 150, 150);
    border-radius: 5px;
}
#button{
    text-align:center;
    margin: 5px;
}
#wrapper{
    display:flex;
    flex-direction: column;
    justify-content:center;
    background-color:#ffffff;
    opacity: 0.6;
    margin: 300px 20px;
    padding: 100px;
}
#wrapper > img{
    width: 200px;
    height: 200px;
    margin: 20px;
  
}
#wrapper > p{
    background-color: aquamarine;
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 80px;
    padding: 20px;
  
}

@media screen and (min-width:600px){
    form{
        flex-direction: row;
    }
    #wrapper{
        flex-direction: row;
    }
}